<ce-clicking-game
  [gameBoardConfiguration]="gameBoardConfiguration"
></ce-clicking-game>

<div class="game-config">
  <div>
    <span>Friction: </span>
    <input type="range" min="0" max="1000" (change)="onFrictionChange($event)">
    {{ gameBoardConfiguration.groundFriction }}
  </div>

  <div>
    <span>Gravity: </span>
    <input [value]="gameBoardConfiguration.gravityStrength * 100" type="range" min="0" max="100" (change)="onGravityChange($event)">
    {{ gameBoardConfiguration.gravityStrength }}
  </div>

  <div>
    <span>Bounciness: </span>
    <input [value]="gameBoardConfiguration.bounciness * 100" type="range" min="0" max="100" (change)="onBouncinessChange($event)">
    {{ gameBoardConfiguration.bounciness }}
  </div>
</div>
